# Mengabaikan SEMUA folder node_modules
**/node_modules

# Mengabaikan SEMUA file environment
**/.env
**/.env.local
**/.env.*.local

# Mengabaikan SEMUA kunci service account Firebase
**/transtrack-86fba-*.json
**/serviceAccountKey.json
**/*-firebase-adminsdk-*.json

# File sistem operasi
.DS_Store
Thumbs.db

# Logs
**/logs
**/*.log
