PORT=3004
NODE_ENV=development

# UserService URL untuk validasi user
USER_SERVICE_URL=http://localhost:3002

DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=transtrack_db
DB_SSL=false


