PORT=8000
NODE_ENV=development

# Service URLs
ROUTE_SERVICE_URL=http://localhost:3000
DRIVER_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
MAINTENANCE_SERVICE_URL=http://localhost:3003
TICKET_SERVICE_URL=http://localhost:3004
SCHEDULE_SERVICE_URL=http://localhost:3005
BUS_SERVICE_URL=http://localhost:3006
